
/*######################################## 
		quasaronline.org legal CSS stylesheet
######################################## */

body						{ background:#000; }
#wrap	 				{ padding:10px; width:400px; text-align:left; }